<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Upload</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

   <form method="post" action="{% url 'save_video' %}">
        {% csrf_token %}
        <div class="container">
        <h1>New Video Upload here</h1>
        <input type="file" id="fileInput" accept="video/*" name="videos">
           video title <input type="text"  name="name">

        <button  onclick="uploadVideo()" >Upload</button>
        <progress id="progressBar" value="0" max="100"></progress>
        <p id="status"></p>
    </div>

    <script src="script.js"></script>
   </form>
<div class="back">
    <form action="{% url 'homepage' %}">
    <button type="submit" class="btn btn-secondary">Back</button>
</form>
</div>

</body>
</html>



<style>
    .container {
    text-align: center;
    margin-top: 50px;
}

input[type="file"] {
}

button {
    margin-top: 10px;
}

progress {
    width: 100%;
    margin-top: 10px;
}
.back{
      margin-left : 30px;
        }

</style>


<script>
    function uploadVideo() {
    var fileInput = document.getElementById('fileInput');
    var progressBar = document.getElementById('progressBar');
    var status = document.getElementById('status');

    var file = fileInput.files[0];
    if (!file) {
        alert('Please select a file.');
        return;
    }

    var formData = new FormData();
    formData.append('video', file);

    var xhr = new XMLHttpRequest();

    xhr.open('POST', '/upload', true);

    xhr.upload.onprogress = function(event) {
        if (event.lengthComputable) {
            var percentComplete = (event.loaded / event.total) * 100;
            progressBar.value = percentComplete;
        }
    };

    xhr.onload = function() {
        if (xhr.status === 200) {
            status.textContent = 'Upload successful!';
        } else {
            status.textContent = 'Upload failed!';
        }
    };

    xhr.onerror = function() {
        status.textContent = 'Upload failed!';
    };

    xhr.send(formData);
}

</script>